:root {
    --shadow: rgba(10, 10, 10, 0.1) 0px 0px 0px 1px, rgba(10, 10, 10, 0.1) 0px 1px 5px;
    --shadow-lifted: rgba(10, 10, 10, 0.1) 0px 0px 0px 1px, rgba(10, 10, 10, 0.2) 0px 1px 5px;
    --shadow-light: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px, rgba(255, 255, 255, 0.1) 0px 0px 5px;
    --blue: #0178FF;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    font-weight: 500;
    margin: 0;
    /* background-color: #fafafa; */
}

.content {
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    background-color: white;
    /* box-shadow: var(--shadow); */
}

.text p, blockquote {
    margin-block-start: 0px;
}

.headline-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;

}

address {
    display: flex;
}

h1.headline, h2.headline {
    /* padding-top: 4vh; */
    display: flex;
    text-align: center;
    margin-block-end: 0px;
    font-size: 3em;
    line-height: 110%;
    font-weight: 800;
}

h1.headline {
    margin-top: 0;
}

.pre-headline {
    margin-left: auto;
    margin-right: auto;
    margin: 10;
    flex-direction: column;
    color: #afafaf80;

    transition: 0.3s ease-out;

    cursor: pointer;
}

.pre-headline:hover {
    color: black;
    transition: 0.1s ease-out;
}

.author-pic {
    max-width: auto;
    max-height: auto;
}

.author-pic img {
    width: 120px;
    height: 100%;
    object-fit: cover;
    border-right: 1px solid rgba(10, 10, 10, 0.2);

    display: flex;
    
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;

    /* border-radius: 3em; */
}

.author-text {
    color: #afafaf;
    padding: 0 1em;

    /* transition: background 240ms ease-out; */

}

.byline p {
    font-weight: 600;
    color: black;
    font-style: normal;
    font-size: 1.2em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    line-height: 120%;

}

.byline-desc {
    max-width: 600px;
    line-height: 120%;
}

.byline-link {
    padding-top: 0.5em;
    padding-bottom: 0.8em;
}

.byline-link a {
    text-decoration: none;
    font-style: inherit;
    color: var(--blue);
    transition: 0.3s ease-out;
    
    
}

.byline-link a:hover {
    color: #afafaf;
    transition: 0.1s ease-out;
    

}

.byline-container {
    /* font-size: 1em; */
    color: #999999;
    display: flex;
    /* flex-direction: column; */
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    align-content: center;

    max-width: 600px;

    box-shadow: var(--shadow);
    transition: 0.3s ease-out;

    border-radius: 0.3em;

    cursor: pointer;
    
}

.byline-container:hover {
    transition: 0.1s ease-out;
    box-shadow: var(--shadow-lifted);
    transform: translate3d(0px, -1px, 0px);
}

time {
    box-shadow: var(--shadow);
    padding: 0 0.5em;
    background: hsla(0,0%,100%,.66);

    border-radius: 0.3em;

    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    align-content: center;
    line-height: 2em;

}

.image-container .caption {
    position: absolute;
    width: 100%;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: small;
    text-shadow: 0px 1px 24px rgb(0, 0, 0, 1);
    line-height: 150%;

    cursor: pointer;
}

figure {
    font-weight: normal;
    width: 100%;
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.inline-image {
    margin-block-start: 1rem;
    margin-block-end: 2rem;
}

.image-container img, .inline-image img {
    width: 100%;
    border-radius: 0.3em;
    object-fit: cover;

    box-shadow: var(--shadow);
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 10vh; */
    line-height: 150%;
    color: black;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    font-size: 1.5em;
}

.text blockquote {
    margin-left: 2em;
    padding: 1em;
    /* border: 1px solid #afafaf80; */
    border-radius: 0.3em;
    /* background: #f8f8f8; */

    box-shadow: var(--shadow);

    transition: 0.3s ease-out;
}

.text blockquote:hover {
    transform: translate3d(0px, -1px, 0px);
    transition: 0.1s ease-out;
    box-shadow: var(--shadow-lifted);
}

.links {
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 200%;
    /* padding-bottom: 5vh; */
    margin: auto;
    margin-top: 2em;
    flex-wrap: wrap;
}

.links a, .middle-links a {
    margin-right: 10px;
}

.middle-links {
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 200%;
    margin: auto;
    flex-wrap: wrap;
    padding-bottom: 1.5rem;
}

.text a {
    padding-top: 0.0em;
    padding-bottom: 0.1em;
    display: inline;
    color: #0178FF;
    background: #0178FF10;
    border-radius: 0.2em;
    text-decoration: none;
    padding-left: 0.2em;
    padding-right: 0.2em;
    transition: background 0.3s ease-out;
}

.text a:hover {
    background: none;
    transition: background 0.1s ease-out;
}

.logo svg {
    display: block;
    margin: auto;
    width: 4em;
    height: 12em;
    padding-left: 5em;
    padding-right: 5em;
}

.logo svg:hover {
    transition: none;
    animation: pulse-logo 1s infinite;
}

.middle-links a, .links a {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

    text-decoration: none;
    color: black;

    /* border: 1px solid black; */
    border-radius: 4px;

    padding: 0px 8px;
}

.middle-links a:hover, .links a:hover {
    background-color: black;
    transition: background 170ms ease-in-out;
    color: white;
    animation: pulse 1s infinite;

}

.footer {
    /* background-color: #eee; */
    height: 4em;
    display: flex;
    flex:auto;
    flex-direction: row;
    /* align-content: flex-start; */
    max-width: 800px;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 2em;
    justify-content: center;
    line-height: 120%;
    height: 100%;
}

.footer-text  {
    /* display: flex; */
    text-align: center;
    justify-content: center;
    /* margin-right: 2em; */
    margin-top: 0.5em;
    margin-bottom: 1em;
    /* font-size: 0.8em; */
    /* font-weight: 600; */
    line-height: 120%;
    color: #afafaf;
    /* border: 1px solid black; */
    padding: 0.5em;
    border-radius: 0.3em;
    transition: 0.3s ease-out;
    background: inherit;
    height: 100%;
    /* flex-wrap: wrap; */
    margin: auto;
}

.footer-text a {
    text-decoration: none;
    color: inherit;
}

.footer-text:hover {
    /* box-shadow: var(--shadow); */
    background: #eeeeee;
    color: #222222;
    transition: 0.1s ease-out;
}

#sn-footer {
    font-style: italic;
}

#rating:hover {
    background: none;
}

#plausable:hover {
    background: rgb(104,117,245, 0.2);
    color: rgb(65, 82, 238);
}

::selection {
    color: white;
    background-color: magenta;

}

@keyframes pulse {
    0% {
        opacity: 0%;
    }

    30% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes pulse-logo {
    0% {
        opacity: 100%;
    }

    70% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: black;
        
    }

    .content {
        background-color: black;
    }

    .author-pic img {
        border-right: 1px solid rgba(255, 255, 255, 0.2);;
    }

    time {
        background: rgb(0, 0, 0);
        color: white;
        box-shadow: var(--shadow-light);
    }

    .text, .headline-block h1.headline {
        color: white;
    }

    .pre-headline:hover {
        color: white;
        transition: 0.1s ease-out;
    }

    a, .middle-links a, .links a {
        color: white;
    }

    .middle-links a:hover, .links a:hover {
        background-color: white;
        transition: background 170ms ease-in-out;
        color: black;

    }

    .byline-container {
        color: #afafaf;
    }

    .author-text p {
        color: white;
    }

    .byline-container, .byline-container:hover, .byline-container-mobile {
        box-shadow: var(--shadow-light);
    }

    .author-text a:hover {
        color: white;
        transition: color 120ms linear;
    }

    .text blockquote, .text blockquote:hover {
        box-shadow: var(--shadow-light);
    }

    .text a {
        background: #0178FF30

        /* color: white;
        border: white;
        border: 1px dotted white; */
    }

    .text a:hover {
        /* color: white;
        border: white;
        border: 1px solid white; */
    }

    .image-container img, .inline-image img {
    
        box-shadow: var(--shadow-light);
    }

    .footer-text:hover {
        background: #222222;
        color:#eeeeee;
    }
}

@media screen and (max-width: 840px) {

    .byline-container {
        display: visible;
    }

    .links {
        flex-wrap: wrap;
    }

    .middle-links {
        padding-top: 6vh;
    }

    h1.headline, h2.headline{
        font-size: 2em;
        hyphens: auto;
        line-height: 120%;
        margin-top: 1em;
    }

    h1.headline {
        margin-top: 0;
    }

    .headline-block img {
        width: 100%;
    }

    .image-container .caption, .image-container .inline-image .caption {
        position: absolute;
        width: 90%;
        bottom: 3%;
        left: 50%;
        font-size: 0.6rem;
    }

    .author-pic img {
        border-right: none;
        border-bottom: 1px solid rgba(10, 10, 10, 0.2);
        border-radius: 0.3em 0.3em 0 0;
    }

    .headline-block, .text {
        padding-left: 1rem;
        padding-right: 1rem;
        hyphens: auto;
        -webkit-hyphens:auto;
        -moz-hyphens: auto;
    }



    .byline-container {
        display: flex;
        /* line-height: 2em; */
        flex-direction: column;
    }

    .byline-container img{
        width: 100%;
        border-radius: 0.3em 0.3em 0 0;
    }

    .byline-container-mobile .author-pic {
        border-right: none;
    }

    .byline-container-mobile .author-text {
        margin-block-start: 0.5em;
    }

    .author-text {
        border-top-left-radius: 0.3em;
        border-top-right-radius: 0.3em;
        border-bottom-left-radius: 0;
        
    }

    time {

        border-radius: 0.3em;
    }

    .text blockquote {
        margin-left: 0;
        margin-right: 0;
        padding: 1em;
        /* border: 1px solid #afafaf80; */
        border-radius: 0.3em;
        
    }

    .logo svg {
        height: 4em;
        padding-top: 6vh;
    }

    .middle-links a, .links a, .middle-links a:hover, .links a:hover {
        color: black;
        background-color: white;
        animation: none;
    }

    .middle-links a:hover, .links a:hover {
        color: white;
        background-color: black;
    }

    .likely-container {
        display: none;
    }

    .footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 2em;
        padding-left: 1.0em;
        padding-right: 1.0em;
        flex: auto;
        justify-content: center;
    }

    .footer-text {
        text-align: center;
        flex: auto;
        margin: auto;
        /* margin-top: 0.2em; */
        max-width: 100%;
        padding: 0.4em;
    }


}

@media screen and (max-width: 840px) and (prefers-color-scheme: dark) {

    .author-pic img {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
    }

    .text, .headline-block h1 {
        color: white;
    }

    .middle-links a, .links a {
        color: white;
        background-color: black;
    }

    .middle-links a:hover, .links a:hover {
        background-color: white;
        transition: background 170ms ease-in-out;
        color: black;

    }

} 