body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    font-weight: 500;

}

p {
    margin-block-start: 0px;
}

.headline-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* padding-top: 10vh; */
    color: black;
    /* box-sizing: border-box; */
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;

}

h1.headline {
    /* padding-top: 4vh; */
    display: flex;
    margin-block-end: 0px;
    font-size: 2em;
    line-height: 120%;
}

.byline {
    color: #afafaf;
    border: 1px solid #afafaf50;
    padding: 0 0.5em;

    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;

    /* transition: background 240ms ease-out; */

}

.byline a {
    text-decoration: none;
    color: #999999;
    font-style: normal;
    transition: color 240ms ease-out;
}

/* .byline:hover{
    background: #eeeeee70;
    border: 1px solid black;
    transition: background 120ms linear;
} */

.byline a:hover{
    /* background: #eeeeee70; */
    color: black;
    transition: color 120ms linear;
}

time {
    border-top: 1px solid #afafaf50;
    border-bottom: 1px solid #afafaf50;
    border-left: 0px;
    border-right: 1px solid #afafaf50;
    padding: 0 0.5em;

    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

.byline-container {
    /* font-size: 1em; */
    color: #999999;
    display: flex;
    /* flex-direction: column; */
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    align-content: center;
    line-height: 2em;
}

.headline-block .caption {
    position: absolute;
    width: 100%;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: small;
    text-shadow: 0px 1px 24px rgb(0, 0, 0, 1);
    line-height: 150%;
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
}

.headline-block img {
    width: 100%;
    border-radius: 0.3em;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 10vh; */
    line-height: 150%;
    color: black;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    font-size: 1.5em;
}

.links {
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 200%;
    padding-top: 5vh;
    padding-bottom: 6vh;
    margin: auto;
    flex-wrap: wrap;
}

.links a, .middle-links a {
    margin-right: 10px;
}

.middle-links {
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 200%;
    margin: auto;
    flex-wrap: wrap;
    padding-bottom: 1.5rem;
}

.links-inline {
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: inline;
}

.logo-link:hover {
    background-color: inherit;
    transition: none;
    color: inherit;
    animation: pulse-logo 1s infinite;
}

svg {
    display: block;
    margin: auto;
    width: 4em;
    height: 12em;
    /* padding-top: 10vh; */
}

.middle-links a, .links a {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

    text-decoration: none;
    color: black;

    /* border: 1px solid black; */
    border-radius: 4px;

    padding: 0px 8px;
}

.middle-links a:hover, .links a:hover {
    background-color: black;
    transition: background 170ms ease-in-out;
    color: white;
    animation: pulse 1s infinite;

}

::selection {
    color: white;
    background-color: magenta;

}

@keyframes pulse {
    0% {
        opacity: 0%;
    }

    30% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes pulse-logo {
    0% {
        opacity: 100%;
    }

    70% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: black;
        
    }

    .text, .headline-block h1.headline {
        color: white;
    }

    a, .middle-links a, .links a {
        color: white;
    }

    .middle-links a:hover, .links a:hover {
        background-color: white;
        transition: background 170ms ease-in-out;
        color: black;

    }

    .byline-container {
        color: #afafaf;
    }

    .byline a {
        color: #afafaf;
        transition: color 240ms ease-out;
    }

    .byline a:hover {
        color: white;
        transition: color 120ms linear;
    }
}

@media screen and (max-width: 840px) {

    .links {
        flex-wrap: wrap;
    }

    .middle-links {
        padding-top: 6vh;
    }

    .headline{
        font-size: 1em;
        hyphens: auto;
        line-height: 2.5em;
        margin-top: 1em;
    }

    .headline-block img {
        width: 100%;
    }

    .headline-block .caption {
        position: absolute;
        width: 90%;
        top: 92%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.7em;
    }

    .headline-block, .text {
        padding-left: 1rem;
        padding-right: 1rem;
        hyphens: auto;
        -webkit-hyphens:auto;
        -moz-hyphens: auto;
    }

    .byline-container {
        line-height: 2em;
        flex-direction: column;
    }

    .byline {
        border-top-left-radius: 0.3em;
        border-top-right-radius: 0.3em;
        border-bottom-left-radius: 0;
        
    }

    time {
        border-top: 0px;
        border-bottom: 1px solid #afafaf50;
        border-left: 1px solid #afafaf50;
        border-right: 1px solid #afafaf50;

        border-bottom-left-radius: 0.3em;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.3em;
    }

    svg {
        height: 4em;
        padding-top: 6vh;
    }

    .middle-links a, .links a, .middle-links a:hover, .links a:hover {
        color: black;
        background-color: white;
        animation: none;
    }

    .middle-links a:hover, .links a:hover {
        color: white;
        background-color: black;
    }
}

@media screen and (max-width: 840px) and (prefers-color-scheme: dark) {

    .text, .headline-block h1 {
        color: white;
    }

    body {
        background-color: black;
    }

    .middle-links a, .links a {
        color: white;
        background-color: black;
    }

    .middle-links a:hover, .links a:hover {
        background-color: white;
        transition: background 170ms ease-in-out;
        color: black;

    }

} 