body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    font-weight: 500;

}

p {
    margin-block-start: 0px;
}

.headline-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* padding-top: 10vh; */
    line-height: 200%;
    color: black;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    font-size: 1.5em;
}

.headline-block h1 {
    padding-top: 4vh;
    display: flex;
}

.headline-block .caption {
    position: absolute;
    width: 100%;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: small;
    text-shadow: 0px 1px 24px rgb(0, 0, 0, 1);
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
}

.headline-block img {
    width: 100%;
    border-radius: 0.5em;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 10vh; */
    line-height: 150%;
    color: black;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    font-size: 1.5em;
}

.links {
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 200%;
    padding-top: 5vh;
    padding-bottom: 6vh;
    margin: auto;
    flex-wrap: wrap;
}

.middle-links {
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 200%;
    margin: auto;
    flex-wrap: wrap;
}

.links-inline {
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: inline;
}

.logo-link:hover {
    background-color: inherit;
    transition: none;
    color: inherit;
    animation: pulse-logo 1s infinite;
}

svg {
    display: block;
    margin: auto;
    width: 4em;
    /* padding-top: 10vh; */
}

a {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

    text-decoration: none;
    color: black;

    /* border: 1px solid black; */
    border-radius: 4px;

    margin-right: 10px;
    padding: 0px 8px;
}

a:hover {
    background-color: black;
    transition: background 170ms ease-in-out;
    color: white;
    animation: pulse 1s infinite;

}

::selection {
    color: white;
    background-color: magenta;

}

@keyframes pulse {
    0% {
        opacity: 0%;
    }

    30% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes pulse-logo {
    0% {
        opacity: 100%;
    }

    70% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@media (min-width: 841px) and (prefers-color-scheme: dark) {
    body {
        background-color: black;
        
    }

    .text, .headline-block h1 {
        color: white;
    }

    a {
        color: white;
    }

    a:hover {
        background-color: white;
        transition: background 170ms ease-in-out;
        color: black;

    }
}

@media screen and (max-width: 840px) {
    .links {
        flex-wrap: wrap;
    }

    .headline-block {
        padding-top: 10vh;
        font-size: 1em;
    }

    .headline-block img {
        width: 100%;
        border-radius: 0.5em;;
    }

    .headline-block .caption {
        position: absolute;
        width: 100%;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.8em;
    }

    .text {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    svg {
        height: 4em;
        padding-top: 6vh;
    }

    a, a:hover {
        color: black;
        background-color: white;
        animation: none;
    }

    a:hover {
        color: white;
        background-color: black;
    }
}

@media screen and (max-width: 840px) and (prefers-color-scheme: dark) {

    .text, .headline-block h1 {
        color: white;
    }

    body {
        background-color: black;
    }

    a {
        color: white;
        background-color: black;
    }

    a:hover {
        background-color: white;
        transition: background 170ms ease-in-out;
        color: black;

    }

} 